/* src/pages/Profile.css */
.home-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .home {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 250px;
  }
  
  .home-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .home-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
  }
  
  .home-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-info span {
    margin-left: 3px;
    font-size: 13px;
    font-weight: bold;
  }

  .home-stats {
    display: flex;
  }
  
  .home-stats div {
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .home-stats div:last-child {
    margin-right: 0;
  }
  
  .home-stats strong {
    font-size: 1.0em;
    font-weight: 510;
  }
  
  .home-posts {
    margin-top: 20px;
  }
  
  .home-posts hr {
    margin-top: 70px;
    margin-bottom: 20px;
    color: #999;
  }

  .home-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 7px;
}
  
  .home-list h3 {
    margin: 0 0 10px;
  }