/* src/pages/Profile.css */
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 250px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 80px;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-info strong {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
  }
  
  .profile-info p {
    margin: 0;
  }
  
  .profile-info button {
    border: none;
    border-radius: 7px;
    padding: 8px 15px 5px 15px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  .profile-stats {
    display: flex;
  }
  
  .profile-stats div {
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .profile-stats div:last-child {
    margin-right: 0;
  }
  
  .profile-stats strong {
    font-size: 1.0em;
    font-weight: 510;
  }
  
  .profile-posts {
    margin-top: 20px;
  }
  
  .profile-posts hr {
    margin-top: 70px;
    margin-bottom: 20px;
    color: #999;
  }

  .posts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 4.5px;
  }
  
  .posts-list .bsImg {
    width: 100%;
    /* height: 100%; */
    border: none;
    height: 332.34px;
    object-fit: cover;
  }

  .posts-list h3 {
    margin: 0 0 10px;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .text-overlay {
    position: absolute;
    width: 332.34px;
    height: 332.34px;
    margin-top: -332.34px;
    background-color: rgba(0, 0, 0, 0.3); /* 텍스트 배경색 */
    color: white; /* 텍스트 색상 */
    padding: 10px;
    text-align: center;
    line-height: 300.34px;
  }

  .icon-overlay {
    position: absolute;
    width: 332.34px;
    height: 332.34px;
    margin-top: -332.34px;
    color: white; /* 텍스트 색상 */
    padding: 10px;
    text-align: end;
    font-size: 20px;
    margin-left: -5px;
  }